<div class="container">
  <div class="user-details">
    <h3>Sami Singh</h3>
    <p></p>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img class="profile-pic" alt="Sami Singh profile picture" src="{{ "/assets/img/sami.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Moikka SC5!</h5>
      <p>Olen Sami, 25-vuotias mediatekniikan opiskelija Jyväskylästä.
        Tykkään kahvista, teen musiikkia ja käyttöliittymäsuunnittelu on minulle lähellä sydäntä. 
      </p>
      <p>Freelancerina olen päässyt toteuttamaan monenlaisia projekteja, mutta harvemmin olen saanut tilaisuuden keskittyä UX:ään erityisesti. Työelämässä minua kuvaillaan "yksisarvisena" eli teen vähän kaikkea. Palvelinten ylläpidosta lähtien ihan markkinointimateriaalien taittoon asti, mutta haluaisin suunnata osaamiseni tarkemmin muutamiin osa-alueisiin, ennen kaikkea UI- ja UX-designiin.
      </p>
      <p>Yrityksenä SC5 on minulle hyvin tuttu, ihmisten ja tapahtumien kautta, ja olenkin päässyt keskustelemaan useamman SCVitoslaisen kanssa firman kulttuurista ja siitä, minkälainen se on työpaikkana. Tästä syystä uskoisin voivani sanoa, että sopisin asenteeltani teille erityisen hyvin. Minulla on kova halu kehittyä ja SC5 tarjoaisi siihen erinomaiset puitteet.</p>
    </div>
  </div>
</div>
