<div class="container">
  <div class="user-details">
    <h3>Sami Singh</h3>
    <p></p>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img class="profile-pic" alt="Sami Singh profile picture" src="{{ "/assets/img/sami.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Moikka SC5!</h5>
      <p>Olen Sami, 25-vuotias mediatekniikan opiskelija Jyväskylästä.
        Tykkään kahvista, teen musiikkia ja käyttöliittymäsuunnittelu on minulle sydäntä lähellä. 
      </p>
      <p>Freelancerina olen päässyt toteuttamaan monenlaisia projekteja, mutta harvemminen olen saanut tilaisuuden keskittyä UXään erityisesti

      </p>
    </div>
  </div>
</div>
