<div class="container">
  <div class="user-details">
    <h3>Sami Singh</h3>
    <p></p>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img class="profile-pic" alt="Sami Singh profile picture" src="{{ "/assets/img/sami.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Moi Meiko!</h5>
      <p>Olen Sami, 25-vuotias mediatekniikan opiskelija Jyväskylästä.
        Tykkään kahvista, teen musiikkia ja käyttöliittymäsuunnittelu on minulle lähellä sydäntä. 
      </p>
      <p>Freelancerina olen päässyt toteuttamaan monenlaisia projekteja, mutta harvemmin olen saanut tilaisuuden keskittyä pelkkään UX:ään. Työelämässä minua kuvaillaan "yksisarvisena" eli teen vähän kaikkea. Palvelinten ylläpidosta lähtien ihan markkinointimateriaalien taittoon asti, mutta haluaisin suunnata osaamiseni tarkemmin muutamiin osa-alueisiin, ennen kaikkea UI- ja UX-designiin.
      </p>
    </div>
  </div>
</div>
