<div class="container">
  <div class="user-details">
    <h3>Projekteja</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="contriboard screenshot" src="{{ "/assets/img/feat2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Contriboard UI&UX -kehittäjä </h5>
      <li> Axure RP, Paperirautalangat, Ninjamock, Invision, Photoshop</li>
      <p>JAMKilla osallistuin N4S-hankkeeseen, jossa kehitimme avoimeen lähdekoodiin perustuvia tuotteita. Päätuote oli reaaliaikainen interaktiivinen Kanban-taulun -kaltainen nettisovellus. Toimin siellä käyttöliittymäsuunnittelijana ja -kehittäjänä sekä käytettävyys- ja saavutettavuussuunnittelijana. Projektin raamit olivat jo olemassa, mutta kun toimme lisää ominaisuuksia, piti niiden visuaaliset ilmeet, toiminnot ja saavutettavuus integroida tuotteeseen. Pääsin myös kääntämään itse tuotetta neljälle kielelle ja sävelsin muutamaan promovideoon musiikit.</p>
      <p>Pystytin myös projektia varten oman devicelabin, jossa meillä oli parhaimillaan 10 eri kännykkää ja 5 tablettia, joilla testasimme frontendiä eri päätelaitteilla.</p>
      <a class="project-link" href="http://n4sjamk.github.io/contriboard/">Contriboard</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="People at a fair" src="{{ "/assets/img/feat1.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Microsoft Student Partner Lead</h5>
      <ul>
        <li>Windows 10, Azure, A/B-testaus, XAML, Mailchimp</li>
      </ul>
      <p>Toimin Microsoftilla UCrew Student Partnerina 2012-2015 ja Suomen Leadina 2015-2016, eli olin vastuussa Microsoftin opiskelijoihin liittyvistä tapahtumista. Olin järjestämässä hackathoneja kuten Wowzapp ja Devshark, kiertelimme Suomessa erilaisilla tekniikan messuilla ja olin myös virallinen pääjärjestäjä kun Microsoft oli Assemblyilla vuonna 2015 ja lanseerasi Windows 10 Suomessa.</p>

      <p>Tein myös sähköpostimarkkinointia, videoeditointia, upouusien (W10 ja W8) käyttöjärjestelmien debuggausta messuilla asiakkaille sekä ihan rehtiä C#-ohjelmointia Windows Store -appeja varten (yli 12 000 latausta!)</p> 
      
      <p>Vuodet Microsoftilla opettivat minua asettumaan asiakkaan saappaisiin ja ymmärtämään hänen tarpeensa. Se on myös auttanut minua kehittymään tiimin jäsenenä sekä tarvittaessa johtamaan.</p>
      
      <p><a href="https://www.linkedin.com/in/veskupaananen/">Microsoftin Digital Transformation Leader, Vesa-Matti Paananen</a>, voi toimia suosittelijanani. <a href="mailto:vesku@microsoft.com">Vesku@Microsoft.Com</a> tai <a href="tel:+358505260430">+358-50-5260430</a></p>
      
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="Panda-piirustus" src="{{ "/assets/img/feat4.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Illustrointia</h5>
      <ul>
        <li>Photoshop</li>
      </ul>
      <p>Vaikken varsinaisesti ole mikään taitelija, piirtelen myös välillä tietokoneella. Oheessa on "selfie", jonka painatin julisteeksi tyttöystävälleni.</p>
      
      <a class="project-link" href="http://i.imgur.com/vuAw4gw.png">Selfie</a>
      
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Wordpress project screenshot" src="{{ "/assets/img/feat3.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Muita Projekteja</h5>
      <ul>
        <li>Wordpress, Jekyll, SASS, Photoshop, Axure, Debian, Vagrant, NodeJS</li>
      </ul>
      <p>Toiselta sivulta löytyy vielä muutamia töitäni. En voi esitellä kaikkia projektejani NDA:n vuoksi, mutta olen tehnyt alihankkijana mainostoimistoille sekä omalla nimelläni vuosia erinäisiä Wordpress-sivustoja, käyntikortteja, brändäystä yms. pienyrityksille.</p>

      <p>Teen myös <a href="https://soundcloud.com/httpsterio">musiikkia</a> videopeleihin, mainoksiin ja muuten vain omaksi huvikseni.</p>
      <a class="project-link" href="http://httpster.io/work/">Muita juttuja</a>
    </div>
  </div>
</div>
